.character-card {
    width: 30%;
    height: 90%;
   
    position:absolute;
    background-color:#253e4d;
    border-radius:40px;
    padding: 20px;
    z-index: 0;
    box-shadow: 0 0 15px 10px #000000;
}

.card1 {
    left: 20px;
}
.card2 {
    right: 20px;
}


.character-info {
    position: absolute;
    bottom: 0;
    width: 600px;
    left: 0px;
    background-color:#000;
    margin:0px;
    padding: 20px;
    
}
.mainrangelogo { 
    width: 30%;
    vertical-align:middle;
}

.rangelogo { 
    width: 20%;
    vertical-align:middle;
}

.characterimage {
    position:absolute;
 
    left: -300px;
    top: 0px;
    height:120vh;
    width: 120vh;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .character-card {
        height: 20%;
    }

    .character-info {
        padding:0px;
        font-size: 12px;
        left:-200px;
    }

    .characterimage {
     left:-80px;
     top:-35px;
     height:auto;
     width:40vh;
    }
}

@media screen and (max-width: 1270px) and (min-width:768px) {
    .character-card {
        height: 50%;
    }

    .character-info {
        padding:0px;
        font-size: 22px;
        left:-160px;
    }

    .characterimage {
     left:-160px;
     top:-35px;
     height:auto;
     width:60vh;
    }
}
