.character-card {
    width: 30%;
    height: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    background-color:#253e4d;
    border-radius:40px;
    padding: 20px;
    z-index: 0;
    box-shadow: 0 0 15px 10px #000000;
}

.card1 {
    left: 10px;
}
.card2 {
    right: 10px;
}


.character-info {
    position: absolute;
    align-self:center;
    bottom: 0;
    width: 600px;
    left: 0px;
    background-color:#000;
    margin:0px;
    padding: 20px;
    
}
.mainrangelogo { 
    width: 30%;
    vertical-align:middle;
}

.rangelogo { 
    width: 20%;
    vertical-align:middle;
}

.characterimage {
    position:absolute;
 
    left: -230px;
    top: 0px;
    height:900px;
    width: 900px;
    z-index: -1;
}


@media screen and (max-width: 800px) {
    .character-card {
        height: 20%;
    }

    .character-info {
        padding:0px;
        font-size: 12px;
        left:-210px;
    }

    .characterimage {
     left:-120px;
     top:-35px;
     height:auto;
     width:400px;
    }
}

@media screen and (max-width: 1270px) and (min-width:800px) {
    .character-card {
        height: 50%;
    }

    .character-info {
        padding:0px;
        font-size: 22px;
        left:-160px;
    }

    .characterimage {
     left:-130px;
     top:-35px;
     height:auto;
     width:600px;
    }
}
@media screen and (max-width: 1400px) and (min-width:1270px) {
    .character-card {
        height: 70%;
    }

    .character-info {
        padding:0px;
        font-size: auto;
        left:-160px;
    }

    .characterimage {
     left:-130px;
     top:-35px;
     height:auto;
     width:600px;
    }
}
