.checkbox label:before { 
    border-radius:3px;
    background-color:#fff;
  }

.input-section {
  width:20%;
}

.start-button { 
  padding: 20px;
  background-color: #000;
  background-radius: 2px;
  margin: 40px;
  font-size: 42px;
  color: #fff;

}

.start-button:hover {
  background-color: #fff;
  padding: 30px;
  margin: 50px;
  color: #000;
}


