* {
  font-family: 'Raleway', sans-serif;
  overflow:hidden;
}

.App {
  text-align: center;
  background-color: #01191f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  display: block;
  max-width:500px;
  max-height:358px;
  width: 30%;
  height: auto;
}

.start-button { 
  padding: 20px;
  background-color: #000;
  background-radius: 2px;
  margin: 40px;
  font-size: 42px;
  color: #fff;
  transition: 0.2s ease-in-out;
}

.start-button:hover {
  background-color: #fff;
  padding: 30px;
  margin: 50px;
  color: #000;
}

.input-section {
  width:20%;
}

.slogan {
  width:25%;
}


.front {
  z-index:1;
}

.form-label { 
  margin:20px;
  font-size:16px;
}